<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Ninja Stuff!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolore odit, inventore tempore harum provident tenetur eius voluptate ea aperiam, debitis sint sit, ducimus reprehenderit repellat vitae quisquam. Ducimus, quo.</p>
</body>
</html>