<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/result" method="post">
        <div>
            <label for="name">Your Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="location">Dojo Location:</label>
            <select name="location" id="location">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div>
            <label for="language">Favorite Language:</label>
            <select name="language" id="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Ruby">Ruby</option>
            </select>
        </div>
        <div>
            <label for="comment">Comment (optional):</label>
            <textarea name="comment" id="comment"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>