<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Ninjas</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/leonardo.jpg') }}">
    <img src="{{ url_for('static', filename='images/donatello.jpg') }}">
    <img src="{{ url_for('static', filename='images/michelangelo.jpg') }}">
    <img src="{{ url_for('static', filename='images/raphael.jpg') }}">
</body>
</html>