<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">    
</head>
<body>
    <h1>Awesome, you're logged in and here's your user_id: {{ session['user_id'] }}</h1>
    <a href="/logout" class="button-primary">Logout</a>
</body>
</html>