<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User</title>
</head>
<body>
    <h1>User {{ user['id'] }}</h1>
    <h2>Full Name: {{user['first_name']}} {{user['last_name']}}</h2>
    <h2>Email: {{user['email']}}</h2>
    <h3>Created At: {{user['created_at'].strftime('%B %d, %Y')}}</h3>
    <a href="/users/{{user['id']}}/edit">Edit</a> | <a href="/users/{{user['id']}}/destroy">Delete</a>
</body>
</html>