<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
    <h1>Friends:</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Friend Since</th>
        </thead>
        <tbody>
        {% for friend in friends %}
            <tr>
                <td>{{ friend['name'] }}</td>
                <td>{{ friend['age'] }}</td>
                <td>{{ friend['created_at'] }}</td>
            </tr>      
        {% endfor %}
        </tbody>
    </table>
    <h1>Add a Friend:</h1>
    <form action="/create" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="age">Age: </label>
            <input type="text" id="age" name="age">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>